{include file=$header}

    <link rel="stylesheet" href="{CSS_URL}/indexMessage.css">
    <script src="{JS_URL}/message.js"></script>
    <section class="ibody">
        <div class="mains">
            <ul class="left_list">
                <li><a href="javascript:void (0);"><i class="iconfont icon-pinglun"></i><span>评论</span></a></li>
                <li><a href="javascript:void (0);"><i class="iconfont icon-xinfeng"></i><span>简信</span></a></li>
                <li><a href="javascript:void (0);"><i class="iconfont icon-upload"></i><span>投稿要求</span></a></li>
                <li><a href="javascript:void (0);"><i class="iconfont icon-xihuan"></i><span>喜欢和赞</span></a></li>

            </ul>
            <ul class="right_box">
                <li>
                    <div class="message_title">收到的评论</div>
                    <div class="message_content"></div>
                </li>
                <li>
                    <div class="message_title">全部简信</div>
                    <div class="message_content"></div>
                </li>
                <li>
                    <div class="message_title">全部投稿要求</div>
                    <div class="message_content"></div>
                </li>
                <li>
                    <div class="message_title">收到的喜欢和赞</div>
                    <div class="message_content"></div>
                </li>

            </ul>
        </div>
    </section>
</body>
</html>