*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}
body {
    font: 16px "Microsoft Yahei", Arial, Helvetica, sans-serif;
    background: #fff;color: #333;
}
a{
    color: #333;
}
img {
    border: 0;
    display: block
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%; font-weight: normal;
}
a {
    outline: none;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
header{
    width: 100%;height: 59px;
    border:1px solid #f0f0f0;
    background: #fff;
    z-index:5;
    position: fixed;
    left:0;
    top:0;
}
main{
    width: 945px;
    height: 100%;
    margin: 0 auto;
}
.header_main{
    max-width: 1440px;
    min-width: 768px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.title_word{
    font-size: 36px;
    line-height: 59px;
    margin-left:50px;
    float: left;
}
.title_word a{
    color: #EA6F5A;
}
.navi{
    width: 70%;height: 59px;
    line-height: 62px;
    float: left;
    color: #333;
}
.navi li{
    float: left;
    margin-left: 20px;
    position: relative;
}
.navi li:first-child{
    margin-left: 0;
    color: #EA6F5A;
}
.navi li:first-child a{
    color: #EA6F5A;
}
.navi li .iconfont{
    font-size: 26px;
    float: left;
}
.navi li span{
    font-size: 18px;
    float: left;
    margin-left: 8px;
    line-height: 58px;
}
.navi li span a{
    color: #333;
}
.search{
    width: 255px;
    height:100%;
    position: relative;
}
.search form{
    display: block;
    width: 100%;
    height: 38px;
    background: #EEE;
    margin-top: 9px;
    font-size: 14px;
    border: 1px solid #eee;
    border-radius: 40px;
}
.search form input{
    display: block;
    width: 90%;
    border:none;
    height: 100%;
    outline: none;
    padding-left: 15px;
    background: transparent;
}
.glyphicon-search{
    position: absolute;
    top:20px;
    right: 15px;
    cursor: pointer;
}
.header_right{
    width: 240px;
    height: 59px;
    position: absolute;
    top:0;right: 50px;
    line-height: 59px;
}
.logins{
    float: left;
    padding:0 10px;
    cursor: pointer;
    position: relative;
}
.login_reg{
    color: #333;
    font-size: 16px;
    font-weight: 600;
    display: block;
    float: left;
}
.login_reg:hover{
    color: #ea6f5a;
}
.person_photo{
    width: 40px;height: 40px;
    border-radius: 50%;
    margin-top: 8px;float: left;
}
.glyphicon-triangle-bottom{
    color: #777777;margin-left: 4px;
}
.person_photo img{
    width: 100%;height: 100%;
    border-radius: 50%;
}
.write{
    float: left;
    width: 100px;
    height: 40px;
    line-height: 24px;
    margin: 8px 15px 0;
    border-radius: 20px;
    font-size: 16px;
    background-color: #ea6f5a;
    cursor: pointer;
    border:1px solid #EA6F5A;
    text-align: center;line-height: 40px;
    font-family:"Microsoft YaHei UI";
}
.write a{
    color: #fff;
}
.write:hover{
    background: #fff;
}
.write:hover a{
    color:#ea6f5a;
}
.hid_box{
    width: 200px;
    height: auto;
    background: #fff;
    padding: 10px 0;
    position: absolute;
    left:0;
    top: 58px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    z-index: 3;
}
.hid_box dt{
    font-weight: 500;
    height: 46px;
    cursor: pointer;
}
.hid_box dt:hover{
    background: #EEEEEE;
}
.hid_box dt a{
    width: 100%;
    height: auto;
    padding: 10px 20px;
    line-height: 30px;
    display: block;
}
.hid_box dt a .iconfont{
    float: left;
    color: #EA6F5A;
    margin-right: 10px;
    font-size: 26px;
}
.hid_box dt a p{
    font-size: 16px;
    display: block;
    color:#333;
    float: left;
    line-height: 23px;
}
.hidden_box{
    width: 158px;
    z-index: 3;
}
.hidden_box dt a .iconfont{
    font-size: 22px;
}
.hidden_box dt a p{
    font-weight: 500;
    line-height: 25px;
}
.ibody{
    width: 100%;
    padding-top: 60px;
    height: auto;
    background: #fff;
}
.left{
    width: 640px;
    height: auto;
    float: left;
    padding-left: 15px;
}
.right{
    width: 280px;
    height: auto;
    float: right;
}

