<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑用户角色信息</title>
    <link href="{STATIC_URL}/layui/css/layui.css" rel="stylesheet">
    <script src="{STATIC_URL}/layui/layui.js"></script>
</head>
<style>
    .layui-container{   margin-top: 20px;   }
    .layui-container h1{ text-align: center;font-weight: 500;font-size: 26px;margin-bottom: 16px; }
    .layui-input{   width: 80%;    }
    .layui-form-label{ width: 120px;text-align: left; }
</style>
<body>
    <div class="layui-container">
        <h1>编辑用户角色信息</h1>
        <form class="layui-form" action="index.php?m=admin&f=user&a=editUserRoleData" method="post">
            <input type="hidden" name="rid" value="{$data['rid']}">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="rname" value="{$data['rname']}" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发布文章的数量：</label>
                <div class="layui-input-block">
                    <input type="number" name="connum" value="{$data['connum']}" min="0" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">查看文章的级别：</label>
                {if $data["conlevel"] == 1}
                <div class="layui-input-block">
                    <input type="radio" name="conlevel" value="1" title="普通" checked>
                    <input type="radio" name="conlevel" value="2" title="精华">
                    <input type="radio" name="conlevel" value="3" title="极品">
                </div>
                {elseif  $data["conlevel"] == 2}
                <div class="layui-input-block">
                    <input type="radio" name="conlevel" value="1" title="普通">
                    <input type="radio" name="conlevel" value="2" title="精华" checked>
                    <input type="radio" name="conlevel" value="3" title="极品">
                </div>
                {else}
                <div class="layui-input-block">
                    <input type="radio" name="conlevel" value="1" title="普通">
                    <input type="radio" name="conlevel" value="2" title="精华">
                    <input type="radio" name="conlevel" value="3" title="极品" checked>
                </div>
                {/if}
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        layui.use('form', function(){
            var form = layui.form;
        });
    </script>
</body>
</html>